$sidebarWidth = 12rem

.theme-container.home-page {
  

    .home .hero p {
        display: none !important;
    }

    .home .hero #main-title {
        display: none !important;
        margin 20px;
        }

    .home .footer {
        margin-top: 5vh;
    }
}


.theme-container.resume-page {
    .resume {
        margin-left: -5%;
    }
}
