$sidebarWidth = 12rem




.theme-container.resume-page {
    .resume {
        margin-left: -5%;
    }
}

.theme-container.project-page {
    .board-game {
        display: flex;
        justify-content: center;
    }

    .cat {
        display: flex;
        justify-content: center;
    }
}