$sidebarWidth = 12rem

.theme-container.home-page {
  

    .home .hero p {
        display: none !important;
    }

    .home .footer {
        margin-top: 5vh;
    }
}


.theme-container.resume-page {
    .resume {
        margin-left: -5%;
    }
}

.theme-container.project-page {
    .board-game {
        display: flex;
        justify-content: center;
    }

    .cat {
        display: flex;
        justify-content: center;
    }
}