$sidebarWidth = 12rem

.theme-container.home-page {
   .home .hero img {
        border-radius: 25% !important;
    }

    .home .hero .description {
        max-width: 50rem !important;
    }
}


.theme-container.resume-page {
    .resume {
        margin-left: -5%;
    }
}

